<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wubole.fight.persistence.ExperienceMapper">

    <insert id="insert" parameterType="ExperienceEntity">
        <selectKey resultType="Long" order="AFTER" keyProperty="id">
            select last_insert_id() as id
        </selectKey>
        insert into experience (
        create_time,
        modified_time,
        resume_id,
        type,
        organization,
        position
        ) values (
        now(),
        now(),
        #{resumeId},
        #{type},
        #{organization},
        #{position}
        )
    </insert>

    <sql id="selectColumns">
        select id,
                create_time   createTime,
                modified_time modifiedTime,
                resume_id     resumeId,
                type,
                organization,
                position
        from experience
    </sql>

    <select id="get" parameterType="long" resultType="ExperienceEntity">
        <include refid="selectColumns"/>
        where id=#{id}
    </select>
</mapper>